.chatIconContainer {
    position: fixed;
    right: 0.8rem;
    bottom: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 100%;
    background: linear-gradient(to right, #0e7490, #41776f);
}

.chatIcon {
    width: 35px;
    filter: invert(100%);
}

.chatIcon:hover {
    transform: scale(0.9);
    cursor: pointer;
}